<!--html file for learning flask app-->
<!--index-->
<!DOCTYPE html>
<html>
  <head>
    <title>Abdullah's Flask Website!</title>
    <!--Example of Jinja2 templating-->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename = 'faviconforflask.ico')}}"
    />
  </head>
  <body>
    <h1 style="color: red; text-align: center">
      Welcome to Abdullah's Flask website!
    </h1>
    <h2 style="color: blue; text-align: center">
      To get ur name only displayed, type the address followed by a slash
      followed by ur name.
    </h2>
    <h3 title="An example of how to use the URL." style="color: green">
      For example: http://192.168.0.100:5000/John
    </h3>
    <h2 style="color: blue; text-align: center">
      To get ur age only displayed, type the address followed by a slash
      followed by ur age (in whole number, no decimal points.)
    </h2>
    <h3 title="An example of how to use the URL." style="color: green">
      For example: http://192.168.0.100:5000/30
    </h3>
    <h2 style="color: blue; text-align: center">
      To get ur name and age displayed, type the address followed by a slash
      followed by ur name/age followed by a slash followed by ur age/name.
    </h2>
    <h3 title="An example of how to use the URL." style="color: green">
      For example: http://192.168.0.100:5000/John/30 <br />
      OR <br />
      http://192.168.0.100:5000/30/John
    </h3>

    <form action="{{url_for('process_form')}}" method="post">
      <label for="name">Name:</label><br />
      <input id="name" type="text" name="name" /><br /><br />
      <label for="age">Age:</label><br />
      <input id="age" type="number" name="age" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <h1 style="text-align: center">Enjoy using my website!</h1>
  </body>
</html>
